<html>
    <head>
        <th:block layout:fragment="fragments/header"></th:block>
    </head>
    <body>
        <h1>Index.html</h1>

        <h2>URL > </h2>
        <h3>person : <span th:text=${person}></span></h3>
        <h3>ttttt : <span th:text=${tttt}></span></h3>
        <ol>
            <li>
                <h3>/test</h3>
            </li>
            <li>
                <h3>/default</h3>
            </li>
            <li>
                <h3>/TestVo</h3>
            </li>
        </ol>

        <ul>
            <li th:each="emp : ${list}">
                <span th:text=${emp.id}></span>
                <span th:text=${emp.name}></span>
                <span th:text=${emp.age}></span>
                <span th:text=${emp.phone}></span>
                <span th:text=${emp.address}></span>
                <hr>
            </li>
        </ul>

        <th:block th:replace="fragments/script"></th:block>
        <footer th:replace="fragments/footer"></footer>
        <script th:inline="javascript">
            /*<![CDATA[*/
                var list = /*[[${list}]]*/ 'default';
                
            /*]]>*/

            $(function(){
                console.log("index.html script!!");
                console.log(list);
                init();
            });

            const init = function(){
                console.log("init");
                testLog();
            }

            const testLog = function(){
                common.log("공통 스크립트 테스트");
                common.timeLog("타임로그 테스트");
            }
        </script>
    </body>
</html>